<nav class="d-flex gx-3">
    <div class="logo-container text-center mr-4">
        <a class="navbar-brand mx-0" href="#"><img src="assets/images/Logo.svg"></a>
    </div>

    <div class="search-container w-50">
        <div class="form-inline">
            <input class="form-control w-100 radius-30" placeholder="Search" type="text">
            <img class="search-icon" src="assets/icons/search.svg" alt="">
        </div>
    </div>
    <ul class="d-flex list-unstyled ml-auto mb-0 mt-lg-0">
        <li class="nav-item radius bg-white d-flex align-items-center justify-content-center mr-2">
            <img src="assets/icons/bell.svg" height="28px">
        </li>
        <li class="nav-item radius bg-white d-flex align-items-center justify-content-center mr-2">
            <img src="assets/icons/comment-1.svg" height="28px">
        </li>
        <li class="nav-item radius bg-white d-flex align-items-center justify-content-center">
            <img src="assets/icons/settings.svg" height="28px">
        </li>
    </ul>
</nav>