<ngx-loading-bar color="#7D5C44"></ngx-loading-bar>

<div class="admin-wrapper px-5">
  <app-header class="my-4"></app-header>
  <div class="mb-4">
      <app-sidenav class="mr-4"></app-sidenav>
      <div class="content radius-30 p-5">
        <div class="d-flex justify-content-between mb-4">
          <h3 class="mb-0">Dashboard</h3>
          <div>
            <select name="" id="" class="custom-select">
              <option selected value="Filter">Filter</option>
            </select>
          </div>
        </div>

        <div class="grid-container text-white mb-4" *ngIf="stats">
          <div class="grid-item radius-20 shadow p-3" *ngFor="let stat of dataService.stats">
            <app-stats [data]="stat" [value]="getValue(stat.key)"></app-stats>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row grid-borders">
            <div class="col-lg-4 pt-4 pl-0 quicklink">
              <h3>Quick Links</h3>
              <p class="mb-0 label">Carry out your financial transactions with ease</p>
              
              <div class="p-2 radius-10 pay d-flex justify-content-between my-4">
                <div class="pay-icon radius-10 p-2 d-flex align-items-center justify-content-between">
                  <img src="assets/icons/account.svg" alt="">
                </div>
                <div class="px-2">
                  <p class="mb-0"><strong>Multiple Pay</strong> </p>
                  <p class="mb-0"><small>Send payment to many people at a go.!</small></p>
                  <button class="btn btn-sm px-3" data-toggle="modal" data-target="#sendModal">Send Now</button>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <img src="assets/icons/undraw_real_time_collaboration.svg" alt="">
                </div>
              </div>

              <div class="container-fluid mb-4">
                <div class="row">
                  <div class="col-6 pl-0">
                    <div class="feature radius-10 p-3">
                      <img src="assets/icons/account.svg" alt="">
                      <p class="mb-0"><strong>Airtime Bank</strong> </p>
                      <p class="mb-0"><small>Save airtime for rainy days & for future.</small></p>    
                    </div>
                  </div>
                  <div class="col-6 pl-0">
                    <div class="feature radius-10 p-3">
                      <img src="assets/icons/account.svg" alt="">
                      <p class="mb-0"><strong>Multiple Recharge</strong> </p>
                      <p class="mb-0"><small>Send airtime or data to millions at a go!</small></p>    
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between">
                <div class="staff">
                  <h5 class="mb-3">Group Payment</h5>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-4 p-0 text-center">
                        <div class="mx-auto staff-avatar radius d-flex justify-content-center align-items-center">
                          <img src="assets/icons/bread.svg" alt="">
                        </div>
                        <p class="mb-0">Bakery Staff</p>
                        <p class="mb-0"><small>11 people</small></p>
                      </div>
                      <div class="col-4 p-0 text-center">
                        <div class="mx-auto staff-avatar radius d-flex justify-content-center align-items-center">
                          <img src="assets/icons/bread.svg" alt="">
                        </div>
                        <p class="mb-0">Bakery Staff</p>
                        <p class="mb-0"><small>11 people</small></p>
                      </div>
                      <div class="col-4 p-0 text-center">
                        <div class="mx-auto staff-avatar radius d-flex justify-content-center align-items-center">
                          <img src="assets/icons/bread.svg" alt="">
                        </div>
                        <p class="mb-0">Bakery Staff</p>
                        <p class="mb-0"><small>11 people</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="new-group">
                  <p class="mb-3"><small class="cursor">View All Group</small></p>
                  <div class="p-0 text-center">
                    <div class="mx-auto new-group-avatar radius d-flex justify-content-center align-items-center">
                      <img src="assets/icons/add.svg" alt="">
                    </div>
                    <p class="mb-0">Create New Group</p>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-lg-4 pt-4" *ngIf="activities">
              <div class="d-flex justify-content-between">
                <h3>Recent Activities</h3>
                <p class="text-success"><small>See All</small></p>
              </div>
              <div *ngFor="let activity of activities" class="mb-3">
                <app-activities [data]="activity"></app-activities>
              </div>

            </div>

            <div class="col-lg-4 pt-4 ">
              <app-chart></app-chart>
              <div class="text-right mt-4">
                <button class="btn btn-outline-success btn-lg">Download mini statement</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content radius-20">
      <div class="text-right p-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/icons/close.svg" alt="">
        </button>
      </div>
      <div class="modal-body px-0">
        <div class="d-flex px-4">
          <div class="col-8">
            <h3>Send money</h3>
            <p>Your loved ones can receive their funds without leaving the house.</p>
          </div>
          <div class="col-4">
            <img src="assets/images/undraw_check_boxes_re_v40f1.svg" alt="">
          </div>
        </div>
        <div class="px-4">
          <div class="col-12">
            <form [formGroup]="form">
              <div class="form-group my-5">
                <label for="amount">Amount</label>
                <div class="amount-input">
                  <input type="number" placeholder="0" name="amount" id="amount" formControlName="amount" class="form-control">
                  <span>₦</span>
                </div>
              </div>

              <div class="form-group mb-4">
                <button [disabled]="submitted" (click)="submit()" class="btn btn-lg btn-block btn-brown">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content radius-20">
      <div class="text-right p-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/icons/close.svg" alt="">
        </button>
      </div>
      <div class="modal-body px-0">
        <div class="text-center">
            <img src="assets/icons/check.svg" alt="">
        </div>
        <div class="text-center my-5">  
            <h3>Money sent successfully!</h3>
        </div>
        <div class="text-center my-5 px-5">
            <button class="btn btn-lg btn-brown btn-block" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="failedModal" tabindex="-1" aria-labelledby="failedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content radius-20">
      <div class="text-right p-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/icons/close.svg" alt="">
        </button>
      </div>
      <div class="modal-body px-0">
        <div class="text-center">
            <img src="assets/icons/failed.svg" alt="">
        </div>
        <div class="text-center my-5">  
            <h3>Transaction failed!</h3>
        </div>
        <div class="text-center my-5 px-5">
            <button class="btn btn-lg btn-brown btn-block" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>